<div class="section center">
<h2 class="bold light-blue-text">Connect</h2>
<a href="mailto:mallorywood413@gmail.com"><i class="small material-icons">email</i></a><br>mallorywood413@gmail.com<br><br>
<span> <a href="https://www.linkedin.com/in/mal-wood">Linkedin</a> || <a href="https://github.com/mal-wood">Github</a></span><br>

</div>