<div class="row section">
  <div class="col s5">
    <%= image_tag("mal_site.jpg", class: "mal-photo") %>
  </div>

  <div class="col s7 center"> 
    <h2 class="bold">Mal Wood</h1>
    <h3>Oakland, CA</h4>
    <h4 class="bold"> Web Developer. <br>Software Engineer.<br>Creator. </h4>
  </div>
</div>
