<div class="row section">
  <div class="col s5">
    <%= image_tag("mal_site.jpg", class: "mal-photo") %>
  </div>

  <div class="col s7 center"> 
    <h2 class="bold">Mal Wood</h2>
    <h3>Oakland, CA</h3>
    <p> Web Developer. Software Engineer. Creator. </p>
  </div>

</div>