<div class="row section">
  <div class="col s5">
    <%= image_tag("mal_site.jpg", class: "mal-photo") %>
  </div>

  <div class="col s7 center"> 
    <h1>Mal Wood</h1>
    <h2>Oakland, CA</h2>
    <h3> Web Developer </h3>
  </div>

</div>