<h1>Work</h1>
  <h2>auto-biography</h2>
  <div class="row">
    <div class="col s6"><%= image_tag("auto1.jpg", class: "work-photo") %></div>
    <div class="col s6"><%= image_tag("auto2.jpg", class: "work-photo") %></div>
  </div>
