/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";

* {
  color: #2B3663;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.background-color {
    background-color:  #FFF;
}

.mal-photo {
  width: 125%;
  border: 5px solid #9DCBD8;
  border-radius: 3%;
  margin-right: 40px;
}

.light-blue-text {
  font-color: #9DCBD8;
}

.mal-reel {
  margin-top: 70px;
  width: 70%;
}

.tech-icon {
  width: 60px;
}

.waves-effect.waves-light.btn {
 background-color: #9DCBD8;
 margin-top: 10px;
}

.work-photo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.wide-photo {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.btn {
  background-color: #9DCBD8;
}

.nav-wrapper {
  background-color: #9DCBD8;
}

.section {
  padding-top: 60px;
}

.icon-row {
  padding-bottom: 60px;
}

footer.page-footer {
  background-color: #556D87;
}

.footer-text {
  font-size: 10px;
}

//masonry 

.grid-item { width: 200px; }