<!DOCTYPE html>
<html class="background-color">
  <head>
    <title>Mal Wood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="pages#about">About</a></li>
        <li><a href="badges.html">Work</a></li>
        <li><a href="collapsible.html">Connect</a></li>
        <li><a href="collapsible.html">Resume</a></li>
      </ul>
    </div>
  </nav>
        
    <div class="container">
       <%= yield %>
    </div>
  </body>
</html>
